.myfont {
    font-family: 'my-font';
    color: #015697;
}

@font-face {
    font-family: 'my-font';
    src: url('w-mania.ttf') format('truetype');
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
div nav a {
  font-size: 1.2rem;
  width: 13.75rem;
  padding: 0.5rem 0;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #b3dcfc;
  background-color: #015697;
}
div nav a:hover {
  transform: translateY(-0.1rem);
}
div nav a.active {
  color: #015697;
  background-color: #87c9fc;
  transform: translateY(0);
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 1rem 0;
  font-size: 0.8rem;
}


/*
b4d5fc
4ab0ff
*/
