<div class="creator">
  <div>
    <h4>Create New Poll</h4>

    <form action="" [formGroup]="form">
      <div>
        <label for="title">Title</label>
        <input type="text"
              formControlName="title"
              id="title"
              placeholder="the title of the poll">
      </div>

      <div>
        <label for="description">Description</label>
        <textarea type="text-area"
                formControlName="description"
                id="description"
                placeholder="description of the poll"></textarea>
      </div>

      <div formArrayName="choices">
        <div *ngFor="let choice of choices.controls; let i=index" [formGroupName]='i'>
          <label>Choice #{{i+1}}</label>
          <input type="text"
                formControlName="choice"
                placeholder="vote"
                class="choice">
        </div>
      </div>

      <div>
        <button (click)="addChoice()" class="btn btn-sm btn-warning">+ add more choices</button>
        <button (click)="savePoll()" class="btn btn-primary pull-right">Save Poll</button>
      </div>
    </form>
   </div>
</div>

<div class="view">
  <h1>{{ form.value.title }}</h1>
  <h3>{{ form.value.description }}</h3>
  <div *ngFor="let obj of form.value.choices">
      <input type="radio"> {{obj["choice"]}}
  </div>
</div>

